/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 may. 2024, 23:55:12
    Author     : usuario
*/
.vj-descatados .card{
    height: 100%;
}

.vj-destacados .card img{
    height: 200px;
    object-fit: cover;
}

.badge-warning-custom {
    color: black; /* Color del texto */
    background-color: #ccffff; /* Color de fondo */
    /* Otros estilos si los necesitas */
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}


